/* ==========================================================================
   ESTILOS GENERALES DE LA PÁGINA 
   ========================================================================== */
   *{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:sans-serif;
}

body{
    background:#f4f4f4;
}

a{
    text-decoration:none;
    color:white;
}

nav{
    background:#1a1a1a;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:10px 7%;
}

.logo-Mundial{
    width:70px;
}

nav ul{
    display:flex;
    list-style:none;
    gap:30px;
    flex:1;
    justify-content:flex-end;
}

.user-icon{
    width:50px;
    height:50px;
    margin-left:30px;
    border-radius:50%;
    cursor:pointer;
}

.contenido{
    min-height:calc(100vh - 80px);
    display:grid;
    place-items:center;
    padding:20px;
    color:#222;
    font-size:1.5rem;
    text-align:center;
}


/* ==========================================================================
   ESTILOS ENCAPSULADOS PARA EL WEB COMPONENT (x-panel)
   ========================================================================== */
.side-menu{
    position:fixed;
    top:0;
    left:0;
    width:250px;
    height:100vh;
    background:white;
    padding:20px;
    transform:translateX(-100%);
    transition:transform 0.3s ease;
    box-shadow:2px 0 10px rgba(0,0,0,0.2);
    z-index:1000;
}

.open-menu{
    transform:translateX(0);
}

.dropdown-wrapper{
    padding:20px;
}

.user-info{
    display:flex;
    align-items:center;
    gap:15px;
}

hr{
    border:0;
    height:1px;
    background:#851717;
    margin:15px 0;
}

.menu-options{
    display:flex;
    flex-direction:column;
    gap:13px;
}

.menu-item {
    display: flex;
    flex-direction: column;
    cursor:pointer;
}

.menu-header {
    display:flex;
    align-items:center;
    justify-content:space-between;
    cursor:pointer;
    width: 100%;
}

.menu-header img{
    width:45px;
    height:45px;
}

.menu-header p{
    flex:1;
    margin-left:15px;
    color:#555;
}

.menu-header .arrow{
    font-size:14px;
    color:#999;
}

/* Sistema de submenús */
.submenu-container {
    display: none;
    flex-direction: column;
    margin-left: 60px;
    margin-top: 10px;
    gap: 10px;
}

.submenu-container.open-submenu {
    display: flex;
}

.sub-item {
    cursor: pointer;
    color: #777;
    font-size: 0.9rem;
    transition: color 0.2s ease;
}

.sub-item:hover {
    color: #851717;
}