*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:sans-serif;
}

body{
    background:#f4f4f4;
}

a{
    text-decoration:none;
    color:white;
}

nav{
    background:#1a1a1a;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:10px 7%;
}

.logo-Mundial{
    width:70px;
}

nav ul{
    display:flex;
    list-style:none;
    gap:30px;
    flex:1;
    justify-content:flex-end;
}

.user-icon{
    width:50px;
    height:50px;
    margin-left:30px;
    border-radius:50%;
    cursor:pointer;
}

.contenido{
    min-height:calc(100vh - 80px);
    display:grid;
    place-items:center;
    padding:20px;
    color:#222;
    font-size:1.5rem;
    text-align:center;
}

.menu-item{
    cursor:pointer;
}